body {
	margin: 0px;
	color: #404040;
}

#content {
	font-family: Open Sans;
}

#topbar {
	position: relative;
	background-color: #F2EDD8;
	width: 100%;
	max-height: 60px;
	z-index: 10;
}

.table {
	display: table;
	margin: 0 auto;
}

.horizontallist {
	list-style: none;
	white-space: nowrap;
}

.topelem {
	display: inline;
	padding: 0px 40px;
	font-family: Dancing Script;
	font-size: 25px;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover {
     opacity: 0.5; 
     text-decoration:none; 
     cursor:pointer;  
}

.banner {
    position: relative;
    width: 100%;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

.banner ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.banner li{
    padding: 0px;
    margin: 0px;
    height: 300px;
    width: 100%;
    font-family: Dancing Script;
   	font-size: 45px;
    display: inline-block;
}

.author {
	position: relative;
	font-size: 18px;
	margin-top: 5px;
	font-family: Open Sans;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}

.banner ul li {
    float:left;
    padding: 0px;
    margin: 0px;
    min-height: 200px;
    width: 100%;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-position-y: -75px;
}

.plane-img {
	position: relative;
	bottom: 0px;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.text {
	position: absolute;
	max-width: 400px;
	display: flex;
  	flex-direction: column;
  	text-align: left;
  	margin-left: 50px;
  	margin-top: 50px;
  	z-index: 10;                                                                                                                                                                                                                                                                                                                                                                                                                         
}


#map-container {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 950px;
	height: 500px;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
	z-index: -1;
}

.pin-container {
	position: absolute;
	width: 10px;
	height: 20px;
	z-index: 20;
}

.pin-container:hover {
	opacity: 0.5;
	cursor: pointer;
}

#sd-pin {
	margin-top: 220px;
	margin-left: 145px;
}

#paris-pin {
	margin-top: 178px;
	margin-left: 468px;
}

#sf-pin {
	margin-top: 190px;
	margin-left: 137px;
}

.pin {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.city-box {
	position: absolute;
	height: 300px;
	width: 225px;
	z-index: 20;
	border-style: solid;
	border-color: #ff6a32;
	background-color: white;
	text-align: center;
}

#sd-box {
	margin-left: 165px;
	margin-top: -70px;
}

#sf-box {
	margin-left: 157px;
	margin-top: -100px;
}

#paris-box {
	margin-left: 490px;
	margin-top: -115px;
}

.box-pic-container {
	height: 200px;
	width: 200px;
	background-color: white;
	margin: 10px auto;
}

.box-img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.to-post, .to-photo {
	font-size: 14px;
	font-weight: 800;
	display: inline-block;
	margin: 0px 5px;
	background-color: #C3DFE0;
	padding: 5px 6px;
	border-radius: 5px;
}

.to-post:hover, .to-photo:hover {
	opacity: 0.5;
	cursor: pointer;
}

.box-city {
	margin: 10px;
	font-family: Dancing Script;
	font-size: 24px;
	color: #9DAD6F;
}

